/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.footer-links {
	text-align: start;
}

.footer-nav {
	text-align: end;
}

.hero-cont img {
	height: 80px;
}

@media screen and (max-width: 700px) {

	.service-list {
		grid-template-columns: 1fr 1fr!important;
	}

	.col-padding {
		height: 400px;
	}

	.footer-links {
		text-align: center;
	}
	
	.footer-nav {
		text-align: center;
	}

	.service-grids {
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-columns: 1fr 1fr;
		width: 100%;
	}

	.cert-cont {
		position: relative;
		bottom: 30px;
		/* justify-content: space-around; */
	}

	.hero-cont {
		padding-bottom: 0;
	}

	.hero-cont h1, .hero-cont p{
		width: 280px;
	}

	.hero-cont img {
		height: 60px;
		margin-left: 20px;
	}

	.hero-cont .col-12 {
		width: fit-content;
	}

	.service-cont {
		height: 140px;
		width: 66px;
		margin-top: 60px;
		padding: 0px;
		margin-right: 0px;
	}
}